@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #24B6D4;
    --secondary-color: #3E8694;
    --accent1-color: #262626;
    --accent2-color: #D47524;

    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Poppins", sans-serif;

    --nav-background-color: #262626;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #262626;
    --nav-hover-background-color: #24B6D4;
}

h1 h2 h3 h4 h5 h6 {
    font: var(--heading-font);
    color: var(--accent1-color);
}

p {
    font: var(--paragraph-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    padding-left: 20px;
}

header, img{
    height: 65px;
}

nav, a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    border-top: var(--primary-color) solid;
    padding-top: 5px;
}

footer p {
    grid-column: 2/3;
    text-align: center;
}

footer .social{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
}

.social img{
    justify-content: space-around;
    width: 50px;
    height: 50px;
}
/* Classes */
.hero {
    position: relative;
}

.hero img { /* Background Img */
    display: block;
    margin: 5px;
    margin-left: 75px;
    padding: 0;
    width: 90%;
    height: 100vh;
}

.hero h1{
    position: absolute;
    margin-top: -550px;
    margin-left: 550px;
    z-index: 2;
}

.hero article{
    position: absolute;
    padding: 5px;
    margin-top: -450px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: var(--accent2-color);
    z-index: 1;
}

.hero article img{
    float: right;
    padding: 10px;
    width: 200px;
    height: auto;
}

.sec-history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 100px;
}

.sec-history h2{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
}

.sec-history p{
    grid-column: 1/4;
    grid-row: 2/3;
}

.sec-adventure{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 200px;
}

.sec-adventure h2{
    text-align: center;
    grid-column: 1/6;
}

.sec-adventure img{
    grid-row: 2/3;
    width: 90%;
    height: 90%;
}

.sec-adventure figcaption{
    text-align: center;
}

.sociallinks {
    text-decoration: none;
}

