* {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 15px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.adventure-grid figure {
    margin: 0;
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    border-radius: 5px;
}

main {
    width: 80%;
}

main img {
    width: 150px;
    height: auto;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
}

aside {
    width: 40%;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #666666;
    color: #ffffff;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

/* Footer Social Links */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.sociallinks {
    display: flex;
    gap: 10px;
}
