* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

header, footer{
    max-width: 840px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: medium;
}

nav a:hover{
    color: #21272c;
    text-decoration:underline;
    font-size: large;
}

h1 {
    color: steelblue;
    border-bottom: #1c7bc9 solid 1px;
    margin-bottom: 10px;
}

main {
    grid-column: 4/6;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p { padding: 10px; }

aside {
    position: relative;
    width: 500px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 200px;
}

footer {
    margin-top: 50px;
    border-top: 1px solid;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #5D5E4A;
    background-color: #CFBDE3;
    color: #3a4550;
}